body{
    background-color: black;
}

h1{
    text-transform: uppercase;
    font-size: 2rem;
}

.motivation-img{
  border: 5px solid white;
  width: 100%;
}

.poster{
    width: 50%;
    margin-left: 25%;
    margin-top: 25px;
    color: white;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}